@import "_reset";
@import "_variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 1fr repeat(5, 120px) 1fr;
  grid-auto-flow: column;
  gap: 1px;
}

div {
  background-color: white;
  color: $bg;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.imgBox {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  background-image: url(/img/riot.png);
  background-size: cover;
  background-position: center;
}

.albumBox {
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $bg;
    transition: all 0.2s linear;
  }
}

.movingText {
  white-space: nowrap;
  overflow: hidden;
  span {
    animation: textAnimation 3s linear infinite forwards;
  }
}

@keyframes textAnimation {
  0% {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-200px);
  }
}

.menuBox {
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $bg;
    transition: all 0.2s linear;
  }
  &:active {
    background-color: $bg;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
