@import "_reset";
@import "_variables";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
}

div {
  border: 1px dotted #af7732;
  color: #af7732;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.imgBox {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  background-image: url(/img/riot.png);
  background-size: cover;
}

.albumBox {
  &:hover {
    cursor: pointer;
    color: white;
    background-color: #af7732;
    transition: all 0.2s linear;
  }
}

.menuBox {
  &:hover {
    cursor: pointer;
    color: white;
    background-color: #af7732;
    transition: all 0.2s linear;
  }
  &:active {
    background-color: #af7732;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
